/* Mixins and variables */
@import "mixins";
/* Basic Styles */
@import "base";
/* ERCore Specific Styles */
@import "ercore";

/* Site Specific Styles */
.navbar-default .navbar-brand {
  @include link($dark-primary);
  @include heading;
}

.navbar.container-fluid {
  margin-top: 0;
  padding: 20px 0 15px;
}

a {
  @include link($dark-primary);
}

.help-block {
  color: $dark-primary;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .navbar-default {
    background-color: #FFF;
    border-left: none;
    border-right: none;
    border-top-color: $dark-primary;
    border-bottom-color: $blue;
    border-radius: 0;
    border-top-width: 2px;
    border-bottom-width: 5px;
    @include box-shadow(0, 5px, 3px, 0, #CCC, false);
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .navbar-brand {
    font-size: 1.3em;
    @include heading;
  }
  .navbar .navbar-brand {
    color: #000;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  body {
    margin: 0;
    @include navbrand();
  }
  a {
    @include link($primary);
  }
  .navbar .navbar-brand {
    border: 2px solid #FFF;
    overflow: hidden;
    &:hover, &:active, &:focus {
      border-color: $blue;
    }
    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-brand:active,
    .navbar-default .navbar-brand:focus {
      background-color: darken($blue, 5%);
    }
    .logo-link {
      background-color: transparent;
      background-repeat: no-repeat;
      display: block;
      background-image: url(../images/VI-EPSCoR-color-logo.png);
      background-position: top left;
      -webkit-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      height: 75px;
    }
  }
  .navbar-nav, .mainnav {
    text-align: center;
    float: none;
  }
  .navbar-nav .dropdown-menu, .mainnav .dropdown-menu {
    text-align: left;
  }
  .navbar-nav > li {
    float: none;
    display: inline-block;
    font-weight: bold;
    font-size: .9em;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav li.expanded.active-trail > a {
    color: #000;
    @include border(5px, border-bottom);
    border-bottom-color: $dark-primary;
    margin-bottom: -5px; /* matches border thickness */
  }
  #ercore-nav-toggle {
    position: fixed;
    top: 150px;;
    left: 0;
    @include rotate(-90);
    background-color: $dark-primary;
    color: #FFF;
    font-size: 1.2em;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    @include box-shadow(-5px, 5px, 15px, 0, #666, false);
    a {
      color: #FFF;
    }
  }
  #sb-site {
    @include border(4px, border-left, $dark-primary);
  }
  .navbar-default .navbar-nav .expanded.active-trail {
    background-color: $background;
  }
  .main-nav-section {
    position: absolute;
    left: 0;
    width:  100%;
    @include border(1px, border-bottom, $primary);
    margin-bottom: 10px;
  }
  .main-container {
    margin-top: 130px;
  }
  span.null-link {
    display: inline-block;
    height: 50px;
    padding: 10px;
    color: #CCC;
  }
  .mainnav > li {
    float: none;
    display: inline-block;
  }
  .main-nav-section {
    position: absolute;
    left: 0;
    border-bottom: 1px solid #6f2f00;
    margin-bottom: 10px;
    @include box-shadow(0, 5px, 1px, 0, lighten(#CCC, 10%), false);
  }
  .mainnav.nav {
    margin: 20px 0 10px;
    padding-left: 0;

    & > li > a {
      padding: 1px 5px;
    }
    & > li > a:hover, & > li > a:active, & > li > a:focus {
      text-decoration: underline;
      background-color: transparent;
    }
  }
  .field-name-field-user-photo {
    float: right;
  }
  .help-block {
    color: $primary;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .navbar-nav > li {
    font-size: 1em;
  }
  .mainnav.nav {
    & > li > a {
      padding: 1px 10px;
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .main-container {
    margin-top: 100px;
  }
}

.navbar-default .navbar-nav > li > a {
  @include reverse-link;
  @include link($dark-primary);
}

.page-header {
  color: $dark-primary;
  @include border(3px, border-bottom);
  border-bottom-color: $dark-primary;
  @include text-shadow;
  padding-bottom: 0;
}

.region-navigation h2.block-title {
  position: absolute;
  left: -9999px;
}

h2.other {
  margin-left: 15px;
}

.view-id-recent_content .list-row {
  padding-bottom: 10px;
}

h3,
.h3 {
  color: darken($gray, 20%);
  font-style: italic;
  margin-bottom: 0;
  font-size: 1.3em;
}

h3.list-subtitle {
  font-size: 1em;
  margin-bottom: 0;
}

.field-inline .label-inline {
  font-weight: bold;
}

.field-inline .div-inline {
  display: inline;
}

.div-inline + .div-inline {
  margin-left: 10px;
}

p {
  &.title {
    font-size: 1.1em;
    font-weight: bold;
  }
  &.larger {
    font-size: 1.3em;
    margin: 1em;
  }
  &.data-link {
    margin: 10px 0 25px;
    padding: 10px 0;
    @include border(1px, border-top, $primary);
    @include border(1px, border-bottom, $primary);
  }
}

span.title {
  font-weight: bold;
}

.image-use {
  margin-top: 15px;
  padding-top: 5px;
  @include border(1px, border-top);
  p {
    font-size: .85em;
    font-style: italic;
  }
}

.box-shadow img {
  @include box-shadow(5px, -5px, 15px, 0, #666, false);
  border: 1px solid #FFF;
}

.box-shadow.pull-right {
  margin-left: 15px;
}

.view-images .view-content {
  overflow: hidden;
}

.image-title,
.term-name {
  margin-top: 10px;
  font-size: 1.25em;
  font-weight: bold;
  font-style: italic;
  display: inline-block;
}

.by-term .image-title {
  display: none;
}

.image-pane {
  margin-top: 36px;
}

.thumbnail {
  border: none;
}

.thumbnail .img-responsive,
.media .img-responsive,
.pull-right .img-responsive,
.field-name-field-user-photo img {
  @include box-shadow(5px, 5px, 15px, 0, #666, false);
  border: 1px solid #FFF;
}

.media .img-responsive img {
  margin-right: 10px;
}

/* breadcrumb */
.breadcrumb {
  background-color: transparent;
}

.breadcrumb > li + li:before {
  color: $dark-primary;
}

.breadcrumb > .active {
}

/* Sidebars */
#ercore-nav-toggle {
  padding: 7px 15px;
  @include heading;
}

#ercore-nav {
  font-size: .9em;
  padding-top: 72px;
  border-right: 2px solid red;
  @include border(2px, border-right, $primary);

  h2 {
    color: $secondary;
    font-size: 1.5em;
    margin-left: 15px;
  }
  a {
    @include link(#FFF);
  }
  ul.menu {
    padding-left: 15px;
    font-weight: bold;
    ul.lower-level {
      padding-left: 0;
      font-weight: normal;
      ul {
        padding-left: 15px;
      }
    }
  }
}

/*  end breadcrumb */
footer {
  text-align: right;
  font-size: .9em;
  .block-masquerade {
    text-align: left;
    .input-group .form-control {
      width: inherit;
      display: inline-block;
    }
  }
  .input-group-addon,
  .input-group-btn,
  .input-group .form-control {
    display: inline-block;
  }
  .input-group-addon,
  .input-group-btn {
    width: inherit;
  }
}

.footer {
  @include border(1px, border-top);
}

.region-footer {
  margin-bottom: 10px;
}

footer p {
  font-style: italic;
}

.e-user-table table caption, .ercore-data caption {
  @include heading;
  text-align: left;
  color: #000;
}

.btn-default, .btn-success, .btn-info {
  @include border(1px, border, $primary);
  @include box-shadow(5px, 5px, 5px, 0, #CCC, false);
}

.btn-info, .btn-success, .btn-success.disabled {
  background-color: $dark-primary;
  &:hover, &:active, &:focus, &:active:hover, &:active:hover, &:active:focus {
    background-color: $primary;
  }
}

.pagination {
  & > li {
    a, span {
      color: $dark-primary;
      background-color: #ffffff;
      border: 1px solid $dark-primary;
      text-decoration: none;
    }

    & > a:hover, & span:hover, & a:focus, & span:focus {
      color: $primary;
      background-color: $background;
      border-color: $primary;
      text-decoration: underline;
    }
  }
  & > .active > a,
  & > .active > span,
  & > .active > a:hover,
  & > .active > span:hover,
  & > .active > a:focus,
  & > .active > span:focus {
    color: #FFF;
    background-color: $dark-primary;
    border-color: $primary;
  }

  & > .disabled > span,
  & > .disabled > span:hover,
  & > .disabled > span:focus,
  & > .disabled > a,
  & > .disabled > a:hover,
  & > .disabled > a:focus {
    color: #000;
    background-color: #FFF;
    border-color: $primary;
  }
}

.pager {

  & li {
    display: inline;
    & > a,
    & > span {
      background-color: #FFF;
      border: 1px solid $primary;

      &:hover, &:active {
        text-decoration: none;
        background-color: $background;
      }
    }
  }
  & .disabled > a,
  & .disabled > a:hover,
  & .disabled > a:focus,
  & .disabled > span {
    color: $gray;
    background-color: #FFF;
  }
}

.views-exposed-form .views-exposed-widget.views-widget-filter-field_ercore_components_target_id {
  width: 300px;
}